@model IEnumerable<Auktioner.Models.SellingBuyingHistory>

@{
    ViewData["Title"] = "GetItemsBought";
}

@if(Model == null)
{
    <div>
       <h1>There are no items sold yet in the auction</h1>
    </div>
}
else{
    <h1>Congratulations, you won the auction for these items.</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoyrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoyrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
}