@model IEnumerable<Auktioner.Models.SellingBuyingHistory>

@{
    ViewData["Title"] = "Information";
}

<h1>Information about Seller & Buyer</h1>


@if (!Model.Any())
{
    <span> Nothing Yet!</span>
}
else
{
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoyrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoyrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
        </tr>
}
    </tbody>
</table>
}